<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarSounds"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.carsoundssimulator.realcarenginesounds.splash_activity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.carsoundssimulator.realcarenginesounds.DriveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.carsoundssimulator.realcarenginesounds.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="Eyoa9x5TqvxbFTNUlHUaiZTOZpnnuufk3STH6aVs_EHTaMVe422E0r92g0pqhVeBIAc74dz145XJTR88ikTbRm"/>
    </application>

</manifest>